<p>
  <mat-toolbar color="primary">
    <span class="title" [routerLink]="['/']">Auction app</span>
    <span class="example-spacer"></span>
    <button
      *ngIf="(role$ | async) === roles.Buyer"
      mat-button
      [routerLink]="['/overview']"
      aria-label="Overview button"
    >
     Overview
    </button>
    <button
      *ngIf="isLoggedIn$ | async"
      mat-button
      aria-label="Logout button"
      (click)="onLogout()"
    >
      Logout
    </button>

    <button
      *ngIf="!(isLoggedIn$ | async)"
      mat-button
      aria-label="Logout button"
      (click)="onLogout()"
    >
      Login
    </button>
  </mat-toolbar>
</p>
