@import 'variables';

.login-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: -12px;
  background-image: url('../../../../assets/images/login.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__form {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    width: 90vw;
    height: 360px;
    margin: 0 auto;
    margin-top: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .login-container {
    background-position: 50% 0;
    height: calc(100vh - 64px);
    margin-top: -12px;
    
    &__form {
      width: 40vw;
      max-width: 800px;
      height: 360px;
      margin-top: 10rem;
    }
  } 
}