<div *ngIf="isSubmitted && loginForm.valid && !error" class="progress-bar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Salesman Login</h2>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input type="text" formControlName="email" matInput placeholder="john.doe@caronsale.de" value="">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" formControlName="password" matInput placeholder="********" value="">
  </mat-form-field>

  <button mat-raised-button color="accent">
    <ng-container>Login</ng-container>
  </button>

  <div *ngIf="error" class="error">Invalid credentials</div>
</form>